* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif!important;
}

input:focus {
  border-color: #DEDEDF!important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

button {
  text-decoration: none;
}

a {
  color: #fff!important;
}

.ui.dimmer
{
  background: rgba(0, 0, 0, 0.6) !important;
}